
    
            <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Anasayfa</span>
            </li>
            
            <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/arabalar" aria-expanded="false">
                <span>
                <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Arabalar</span>
            </a>
            </li>


           
            
            <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/müsteri" aria-expanded="false">
                <span>
                <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Müşteri  </span>
            </a>
            </li>
            <li class="sidebar-item">
        
            </li>